body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e7e7e7;
}

.header {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin: 30px 50px 30px 50px;
    height: 80px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}

.header img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 50%;
}

.menu-btn {
    background-color: #ffffff;
    font-size: 18px;
    padding: 10px 15px;
    margin-left: 20px;
    border: none;
    cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 1000;
}

.sidebar.active {
    left: 0;
}

.sidebar a {
    display: block;
    color: white;
    padding: 15px 0;
    margin-left: 10px;
    text-decoration: none;
}

.sidebar img {
    width: 80px;
    height: auto;
    border-radius: 50%;
    margin: 20px 0px 30px 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    display: none;
}

.overlay.active {
    display: block;
}

.text h2 {
    margin-left: 60px;
    font-size: 26px;
}

.main {
    display: block;
    margin: 30px 50px 80px 50px;
    height: 100vh;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}

.footer {
    width: 100%;
    height: 10vh;
    background-color: #ffffff;
}