* {
    box-sizing: border-box;
    margin: 0;
    left: 0;
    padding: 0;
}

html {
    font-size: clamp(12px, 1.2vw, 18px);
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(233, 233, 233);
}

.page {
    display: none;
}
.active {
    display: block;
}

#fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease-out forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* --------------------------------------------------- */
/* Home */
/* --------------------------------------------------- */

nav {
    display: flex;
    position: sticky;
    top: 0;
    padding: 1.5% 10%;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    z-index: 2000;
}

.sidebar {
    display: flex;
    align-items: center;
}
.sidebar ion-icon {
    display: flex;
    font-size: 1.65rem;
    margin-right: 4px;
    align-items: center;
}
.sidebar p {
    align-items: center;
    font-size: 1rem;
}

/* --------------------------------------------------- */

/* ปุ่มสามขีด */
#menuToggle {
    z-index: 2000; /*เพิ่มให้มากที่สุด*/
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}


/* พื้นหลังมืดเมื่อเมนูแสดง */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1000;
}

/* สมมติว่า nav สูง 60px */
#menu {
    position: fixed;
    top: -100%; /* เริ่มซ่อนไว้ */
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    transition: top 0.3s ease;
    z-index: 1050;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 4px 30px rgb(0, 0, 0, 0.3);
}

#menu a {
    display: block;
    margin-bottom: 8px;
    padding: 15px;
    text-decoration: none;
    color: white;
}
#menu a:hover {
    background-color: rgb(48, 46, 46);
    color: white;
}

/* เมนูแสดง */
#menu.show {
  top: auto;
}

#overlay.show {
    display: block;
}

/* --------------------------------------------------- */

.login-search {
    display: flex;
    gap: 15px;
}

li {
    list-style: none;
    text-decoration: none;
}

li a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 5px 10px;
    background-color: rgb(255, 255, 255);
}

.login-search a ion-icon {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    color: white;
}

/* --------------------------------------------------- */

.home {
    display: flex;
    height: 80vh;
    width: 100%;
}

.head {
    display: block;
    position: absolute;
    top: 50%;
    left: 5%; /* ทำให้ห่างจากซ้าย */
    transform: translateY(-50%);
    text-align: left;
    z-index: 5;
}

.head h1 {
    font-size: 5rem;
    margin-bottom: 20px;
}
.head p {
    font-size: 1.2rem;
}

.slider {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    /* background-color: aquamarine; */
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    z-index: 1;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    opacity: 1;
    z-index: 2;
}

.controls {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    z-index: 10;
}

.controls button {
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 0.3rem 0.8rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.controls button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* --------------------------------------------------- */

.content1 {
    display: flex;
    /* height: 110vh; */
    flex-direction: column;
    margin: 3%;
    padding: 3rem;
    justify-content: center;
    border-radius: 1.5rem;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 4px 30px rgb(0, 0, 0, 0.3);
}
.gallery {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 5%;
    padding: 20px;
    justify-content: center;
    /* background-color: aqua; */
}

.gallery img {
    max-width: 100%;
    height: auto;
    display: block;
}

.gallery-item {
    aspect-ratio: 1 / 1; /* ✅ ให้กล่องเป็นสี่เหลี่ยมจัตุรัส */
    display: flex;
    padding: 10px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 0.9rem;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/* --------------------------------------------------- */

.content2 {
    display: flex;
    height: 150vh;
    margin: 5%;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: rgb(207, 200, 200);
}

/* --------------------------------------------------- */

footer {
    display: block;
    /* height: 60vh; */
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    background-color: #111;
}

footer p {
    margin: 4% 0;
    font-size: 1rem;
    color: #bbb;
}

/* .footer-logo {
    background-color: aqua;
} */

.footer-logo h2 {
    font-size: 3rem;
    margin: 25px 0;
}

.footer-logo p {
    font-size: 1rem;
    color: #bbb;
    margin-bottom: 5%;
}

.footer-links {
    margin-bottom: 5%;
    /* background-color: blueviolet; */
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 7%;
    font-size: 1rem;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    margin: 0 2.5%;
    font-size: 1.5rem;
}

/* --------------------------------------------------- */
/* Search */
/* --------------------------------------------------- */

.search-home {
    display: flex;
    height: 70vh;
    align-items: center;
    padding-left: 10%;
    /* background-color: grey; */
}
.search-box {
    display: flex;
    border: 2px solid black;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
}

.search-box input[type="text"] {
    border: none;
    padding: 10px;
    font-size: 16px;
    width: 300px;
    outline: none;
}

.search-box button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

/* --------------------------------------------------- */
/* Abount */
/* --------------------------------------------------- */

.text {
    height: 50vh;
    width: 100%;
    padding: 0 5%;
    align-content: center;
    /* background-color: bisque; */
}
.text h1 {
    font-size: 5rem;
    margin-bottom: 30px;
}
.text p {
    font-size: 1rem;
}

.img-container {
    margin: 0 10% 100px 10%;
    padding: 3%;
    border-radius: 25px;
    background-color: rgb(216, 208, 208);
    box-shadow: 0 4px 30px rgb(0, 0, 0, 0.5);
}

.img-content {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: nowrap;
}

.profile {
    flex: 1 1 auto;
    max-width: 450px; /* จำกัดขนาดรูป */
}

.profile img {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 4.5;
    object-fit: cover;
    border-radius: 15px;
}

.caption {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.4;
}
