* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px 0px 200px;
    height: 75px;
    background-color: gray;
}
a {
    text-decoration: none;
    color: black;
}
li {
    list-style: none;
}

.manu {
    display: flex;
    justify-content: space-between;

}
.login-singup {
    display: flex;
    justify-content: space-between;
}