body {
    font-family: sans-serif;
    background: linear-gradient(#aa4b6b, #3b8d99);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 350px;
}

.form-container h1 {
    text-align: center;
}

.form {
    display: none;
}

.form.active {
    display: block;
}

input {
    width: 94%;
    padding: 10px;
    margin-top: 15px;
    border-radius: 8px;
}

button {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.toggle {
    display: flex;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
}
.toggle-link {
    margin-left: 5px;
    cursor: pointer;
    color: #007bff;
}
