* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

nav {
    display: flex;
    justify-content: space-between;
    /* background-color: bisque; */
    padding: 0.67rem 6.5rem;

    & img {
        width: 50px;
        height: auto
    }

    & ul {
        display: flex;
        list-style: none;
        gap: 20px;
        /* justify-content: center; */
        align-items: center;
    }
}